<app-album-header></app-album-header>
<div class="album-info" *ngFor = "let item of album">
  <div class="album-art" >
    <h2>{{ item.artist}} - {{ item.title}}</h2>
    <img src="{{item.coverUrl}}">
    <p>{{item.releaseDate}}</p>
  </div>

  <div class="album-track-list" >
    ALBUM TRACK LIST
    <app-track *ngFor = "let song of item.trackList"
    [songName] = "song">
    </app-track>
    

    <div class="album-purchase">

      <button *ngIf="album.releaseDate">BUY NOW!</button>
      ALBUM PURCHASE
      
    </div>
  </div>
</div>
